<content>
	  <menu>
		<label for="trigger">
		  <input id="trigger" type="checkbox" />
		  <section class="drawer-list">
			<ul>
			  <li>{% for page in site.pages %}
				  {% if page.title %}
				  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				  {% endif %}
				{% endfor %}
			  </li>
			  <li><a href="mailto:{{ site.email }}"">联系我</a></li>
			  <br><br><br>
			  <img src="../../../../../images/klopp.gif" alt= gif图片/>
		  </ul>
		  </section>
		  <hamburger>
			<i></i>
			<text>
			  <close>close</close>
			  <open>menu</open>
			</text>
		  </hamburger>
		</label>
	  </menu>
</content>
