<div class="social-data">
	<a href="{{ site.github_repo }}" class="social-data1"><img src="../images/github.jpg" alt="github" width="30" height="30" /></a>
	<a href="{{ site.tableau_public }}" class="social-data2"><img src="../images/tableau.jpg" alt="tableau pubilc" width="30" height="30" /></a>
	<a href="mailto:{{ site.email }}" class="social-data3"><img src="../images/mail.jpg" alt="qq邮箱" width="30" height="30" /></a>		
	<a href="https://weibo.com/" class="social-data4"><img src="../images/weibo.jpg" alt="微博" width="30" height="30" /></a>
</div>