---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
<div class="social-data">
	<a href="{{ site.github_repo }}" class="social-data1"><img src="../images/github.jpg" alt="github" width="30" height="30" /></a>
	<a href="{{ site.tableau_public }}" class="social-data2"><img src="../images/tableau.jpg" alt="tableau pubilc" width="30" height="30" /></a>
	<a href="https://mail.qq.com/" class="social-data3"><img src="../images/mail.jpg" alt="qq邮箱" width="30" height="30" /></a>		
	<a href="https://weibo.com/" class="social-data4"><img src="../images/weibo.jpg" alt="微博" width="30" height="30" /></a>
</div>

<content>
	  <menu>
		<label for="trigger">
		  <input id="trigger" type="checkbox" />
		  <section class="drawer-list">
			  <li>{% for page in site.pages %}
				  {% if page.title %}
				  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				  {% endif %}
				{% endfor %}
			  </li>
			  <li><a href="#">contact us</a></li>
			  <br><br><br>
			  <img src="http://img5.cache.netease.com/sports/2016/4/15/201604151404233e90e.gif" alt= gif图片/>
		  </ul>
		  </section>
		  <hamburger>
			<i></i>
			<text>
			  <close>close</close>
			  <open>menu</open>
			</text>
		  </hamburger>
		</label>
	  </menu>
</content>